.footer{
   padding: 22px 0;
   background: #EE4248;
   &__text{
     font-family: Roboto,sans-serif;
     font-style: normal;
     font-weight: normal;
     font-size: 18px;
     line-height: 21px;
     color: #FFFFFF;
     text-align: center;
     margin: 22px 0 ;
   }
 }